<div class="root">

    <div class="search_box">
        <div class="search_box_input">
            <input type="text" class="search_box_input_box" (keydown.enter)="searchWeather(location)"
                placeholder="Search for a location..." [(ngModel)]='location' [typeahead]="cities"
                typeaheadWaitMs="1000" (typeaheadOnSelect)="onSelect($event)" />
        </div>
        <input type="image" src="./../assets/images/search.png" class="search_button" (click)="searchWeather(location)"
            alt="Submit" />
    </div>

    <div *ngIf='resultFound()' class="main">
        <div class="city_title">{{currentWeather.name}}, {{currentWeather.sys.country}}</div>
        <div class="date">{{currentWeather.dt * 1000 | date:'EEEE, MMMM d, y'}}</div>
        <div><span class="weather">{{currentWeather.weather[0].main}}({{currentWeather.weather[0].description}})</span>
        </div>

        <div class="temperature_details">
            <div class="temperature_image"><img src="./../assets/images/{{currentWeather.weather[0].icon}}.png"
                    alt="weather"></div>
            <div class="temperature_main">
                <div class="temperature">{{currentWeather.main.temp | number:'1.0-0'}}</div>
                <!-- <div class="temperature_unit"><span> °C | <label class="temperature_unit_kelvin">°K</label></span></div> -->
                <div class="temperature_unit"><span> °C</span></div>
            </div>

            <div class="weather_main">
                <div class="weather_details">Humidity: {{currentWeather.main.humidity}}%</div>
                <div class="weather_details">Wind: {{currentWeather.wind.speed | number:'1.0-0'}}meter/sec</div>
                <div class="weather_buttons">
                    <label class="weather_radio_button" (click)="tabToggle(1)"> Temperature </label>
                    <label class="weather_radio_button" (click)="tabToggle(2)"> Humidity </label>
                    <label class="weather_radio_button" (click)="tabToggle(3)"> Wind </label></div>
            </div>
        </div>

        <div class="weather_widget">
            <div class="weather_widget_element" *ngFor="let element of currentForecast.list">
                <div class="weather_details">{{element.dt * 1000 | date:'EEEE' | slice:0:3}}</div>
                <div class="weather_details">{{element.dt * 1000 | date:'h a'}}</div>
                <div class="temperature_image" *ngIf="showTab == 1">
                    <img src="./../assets/images/{{element.weather[0].icon}}.png" width="100%" height="100%" />
                </div>
                <div class="temperature_image" *ngIf="showTab == 2">
                    <img src="./../assets/images/humidity.png" width="80%" height="80%" />
                </div>
                <div class="temperature_image" *ngIf="showTab == 3">
                    <img src="./../assets/images/wind_direction.png" style="transform:rotate({{element.wind.deg}}deg)"
                        width="100%" height="100%" />
                </div>
                <div class="weather_details" *ngIf="showTab == 1">{{element.main.temp_max | number:'1.0-0'}}° |
                    {{element.main.temp_min | number:'1.0-0'}}°</div>
                <div class="weather_details" *ngIf="showTab == 2">{{element.main.humidity}}%</div>
                <div class="weather_details" *ngIf="showTab == 3">{{element.wind.speed}}m/s</div>
            </div>
        </div>

    </div>
    <div *ngIf='!resultFound()'>
        <h1 class="center">{{'Failed to get weather.'}}</h1>
    </div>
</div>